Assignment 1 of 4

RUBRICS

Correct value.

Number of statistics computed.

Any added comment on the computed value.

Exercise 1a: Download the dataset
https://github.com/johnhabere/datasets/blob/main/exchange-rates_uga.csv

From the dataset accomplish the various statistics of the exchange rates using the rates (referred to as 'values' in the dataset) in the following exercises.

In [1]:
#importing the necessary libraries
import pandas as pd
#Supressing the warning messages
import warnings
warnings.filterwarnings('ignore')

In [2]:
#Reading the dataset
data = pd.read_csv("exchange-rates_uga.csv")
#A view of the data set to see if it's correctly loaded
data.head()

,Iso3,StartDate,EndDate,Area Code,Area Code (M49),Area,Element Code,Element,ISO Currency Code,Currency,Year Code,Year,Months Code,Months,Unit,Value,Flag
0,#country+code,#date+start,#date+end,NaN,NaN,#country+name,NaN,NaN,NaN,NaN,NaN,#date+year,NaN,NaN,#indicator+type,#indicator+value+num,NaN
1,UGA,1987-01-01,1987-12-31,226.0,'800,Uganda,LCU,Local currency units per USD,UGX,Uganda Shilling,1987.0,1987,7021.0,Annual value,NaN,42.841266666700001,X
2,UGA,1987-01-01,1987-01-31,226.0,'800,Uganda,LCU,Local currency units per USD,UGX,Uganda Shilling,1987.0,1987,7001.0,January,NaN,42.841266666700001,X
3,UGA,1987-02-01,1987-02-28,226.0,'800,Uganda,LCU,Local currency units per USD,UGX,Uganda Shilling,1987.0,1987,7002.0,February,NaN,14.000000000000000,X
4,UGA,1987-03-01,1987-03-31,226.0,'800,Uganda,LCU,Local currency units per USD,UGX,Uganda Shilling,1987.0,1987,7003.0,March,NaN,14.000000000000000,X

In [3]:
# drop the 1st columns
data = data.iloc[1:]

#a view of the data set

data.head()

,Iso3,StartDate,EndDate,Area Code,Area Code (M49),Area,Element Code,Element,ISO Currency Code,Currency,Year Code,Year,Months Code,Months,Unit,Value,Flag
1,UGA,1987-01-01,1987-12-31,226.0,'800,Uganda,LCU,Local currency units per USD,UGX,Uganda Shilling,1987.0,1987,7021.0,Annual value,NaN,42.841266666700001,X
2,UGA,1987-01-01,1987-01-31,226.0,'800,Uganda,LCU,Local currency units per USD,UGX,Uganda Shilling,1987.0,1987,7001.0,January,NaN,42.841266666700001,X
3,UGA,1987-02-01,1987-02-28,226.0,'800,Uganda,LCU,Local currency units per USD,UGX,Uganda Shilling,1987.0,1987,7002.0,February,NaN,14.000000000000000,X
4,UGA,1987-03-01,1987-03-31,226.0,'800,Uganda,LCU,Local currency units per USD,UGX,Uganda Shilling,1987.0,1987,7003.0,March,NaN,14.000000000000000,X
5,UGA,1987-04-01,1987-04-30,226.0,'800,Uganda,LCU,Local currency units per USD,UGX,Uganda Shilling,1987.0,1987,7004.0,April,NaN,14.000000000000000,X

In [4]:
#Create a list rates from the dataset

rates = data['Value']

rates.head()

1    42.841266666700001
2    42.841266666700001
3    14.000000000000000
4    14.000000000000000
5    14.000000000000000
Name: Value, dtype: object

In [7]:
#Convert value from object to float
rates = rates.astype(float)

In [8]:
# Summary statistics of the Value column
summary_stats = rates.describe()

# Display the summary statistics
print(summary_stats)

count     747.000000
mean     1383.336741
std      1251.579869
min         0.070214
25%        93.839237
50%      1196.340000
75%      2098.566334
max      3840.476750
Name: Value, dtype: float64

In [10]:
# Mean

mean_value = rates.mean()
print(f"Mean: {mean_value}")

Mean: 1383.3367407705653

In [11]:
# Median

median_value = rates.median()
print(f"Median: {median_value}")

Median: 1196.34

In [12]:
# Calculate the mode
mode_value = rates.mode()

# Display the mode
print("Mode:", mode_value)

Mode: 0        7.021450
1        7.135950
2        7.143000
3        7.143000
4        7.143000
5        8.735330
6        9.751609
7       16.613378
8       21.391457
9       33.571033
10      59.478779
11      60.000000
12      93.839237
13     118.304588
14     165.148394
15     266.726793
16     672.020000
17    1400.000000
Name: Value, dtype: float64

In [14]:
# Maximum value of the 'Value' column
max_value = rates.max()

# Minimum value of the 'Value' column
min_value = rates.min()

print(f"Maximum Value: {max_value}")
print(f"Minimum Value: {min_value}")

Maximum Value: 3840.47675
Minimum Value: 0.07021449999

In [15]:
# Calculate the range
data_range = rates.max() - rates.min()
print("Range:", data_range)

Range: 3840.40653550001

In [18]:
# Calculate the variance with Bessel's correction
variance = rates.var(ddof=1)
print(f"Variance: {variance}")

Variance: 1566452.1676363784

In [19]:
# Calculate the standard deviation with Bessel's correction
std_deviation = rates.std(ddof=1)

print(f"Standard Deviation: {std_dev}")

Standard Deviation: 1251.5798686605576

In [22]:
# Calculate the first quartile (Q1)
q1 = rates.quantile(0.25)

#Calculate the second quartile
q2 = rates.quantile(0.5)

# Calculate the third quartile (Q3)
q3 = rates.quantile(0.75)

# Calculate the interquartile range (IQR)
iqr = q3 - q1

# Display the results
print("First Quartile (Q1):", q1)
print("Second Quartile (Q2):", q2)
print("Third Quartile (Q3):", q3)
print("Interquartile Range (IQR):", iqr)

First Quartile (Q1): 93.83923713
Second Quartile (Q2): 1196.34
Third Quartile (Q3): 2098.56633399208
Interquartile Range (IQR): 2004.7270968620803

In [23]:
# Calculate the coefficient of variation
coefficient_of_variation = (std_deviation / mean_value) * 100

print("Coefficient of Variation:", coefficient_of_variation)

Coefficient of Variation: 90.47543029641398

In [24]:
# Calculate the Quartile Coefficient of Dispersion (QCD)
qcd = (q3 - q1) / (q3 + q1)
print("Quartile Coefficient of Dispersion (QCD):", qcd)

Quartile Coefficient of Dispersion (QCD): 0.9143960968116198

In [ ]:
#covariance

In [ ]:
#Pearson correlation coefficient ( 𝜌)

In [ ]:
#Percentiles (10th, 25th, 50th, 75th etc)

In [ ]:
#Skewness

In [ ]:
#ADD ANY OTHER STATISTICS (THE MORE COMPUTATIONS, THE MORE POINTS