In [2]:
#importing the necessary libraries
import pandas as pd
#Supressing the warning messages
import warnings
warnings.filterwarnings('ignore')

A.	Read in each file in your Jupyter Notebook file.

In [3]:
# Load each dataset
dataset_1 = pd.read_csv('FAOSTAT_ALGERIA.csv')
dataset_2 = pd.read_csv('FAOSTAT_ANDORRA.csv')
dataset_3 = pd.read_csv('FAOSTAT_ANGOLA.csv')
dataset_4 = pd.read_csv('FAOSTAT_AFGHANISTAN.csv')
dataset_5 = pd.read_csv('FAOSTAT_ALBANIA.csv')

In [6]:
#A view of the data sets to see if it's correctly loaded
dataset_1.head(2)
dataset_2.head(2)
dataset_3.head(2)
dataset_4.head(2)
dataset_5.head(2)

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,FO,Forestry Production and Trade,8,Albania,5516,Production,1627,"Wood fuel, coniferous",1961,1961,m3,260000.0,A,Official figure,NaN
1,FO,Forestry Production and Trade,8,Albania,5516,Production,1627,"Wood fuel, coniferous",1962,1962,m3,221000.0,A,Official figure,NaN

B.	Add a column to each dataframe, called “newColumn”, with data of your choice that could be a manipulation of any other column.

#Add a column to each dataframe

dataset_1['newColumn'] = dataset_1['Column1'] + dataset_1['Column2']
dataset_2['newColumn'] = dataset_2['Column1'] + dataset_2['Column2']
dataset_3['newColumn'] = dataset_3['Column1'] + dataset_3['Column2']
dataset_4['newColumn'] = dataset_4['Column1'] + dataset_4['Column2']
dataset_5['newColumn'] = dataset_5['Column1'] + dataset_5['Column2']

C.	Append all the dataframes from (A) together into a single dataframe.
D.	Save the result in a CSV file called fao.csv.

In [7]:
# Append all the dataframes from (A) together into a single dataframe
fao = pd.concat([dataset_1, dataset_2, dataset_3, dataset_4, dataset_5], ignore_index=True)

# Display the combined dataframe
print(fao.head())

# Save the combined dataframe to a new CSV file
fao.to_csv('combined_fao_dataset.csv', index=False)

  Domain Code                         Domain  Area Code (M49)     Area  \
0          FO  Forestry Production and Trade               12  Algeria
1          FO  Forestry Production and Trade               12  Algeria
2          FO  Forestry Production and Trade               12  Algeria
3          FO  Forestry Production and Trade               12  Algeria
4          FO  Forestry Production and Trade               12  Algeria

   Element Code     Element  Item Code                   Item  Year Code  \
0          5516  Production       1627  Wood fuel, coniferous       1961
1          5516  Production       1627  Wood fuel, coniferous       1962
2          5516  Production       1627  Wood fuel, coniferous       1963
3          5516  Production       1627  Wood fuel, coniferous       1964
4          5516  Production       1627  Wood fuel, coniferous       1965

   Year Unit      Value Flag Flag Description Note
0  1961   m3  1932945.0    I    Imputed value  NaN
1  1962   m3  1978050.0    I    Imputed value  NaN
2  1963   m3  2024207.0    I    Imputed value  NaN
3  1964   m3  2071441.0    I    Imputed value  NaN
4  1965   m3  2119777.0    I    Imputed value  NaN

2. With fao, use type conversion to cast the values of the year column into datetimes and, sort by date and value.

In [12]:
# Convert 'year' column to datetime
fao['Year'] = pd.to_datetime(fao['Year'], format='%Y')

# Sort the dataframe by date and Value
fao_sorted = fao.sort_values(by=['Year', 'Value'])

# Display the sorted dataframe
print(fao_sorted.head())

#Save the sorted dataframe to a new CSV file
#fao_sorted.to_csv('sorted_fao_dataset.csv', index=False)

    Domain Code                         Domain  Area Code (M49)         Area  \
302          FO  Forestry Production and Trade               24       Angola
466          FO  Forestry Production and Trade                4  Afghanistan
692          FO  Forestry Production and Trade                8      Albania
528          FO  Forestry Production and Trade                4  Afghanistan
778          FO  Forestry Production and Trade                8      Albania

     Element Code     Element  Item Code                       Item  \
302          5516  Production       1627      Wood fuel, coniferous
466          5516  Production       1627      Wood fuel, coniferous
692          5516  Production       1627      Wood fuel, coniferous
528          5516  Production       1628  Wood fuel, non-coniferous
778          5516  Production       1628  Wood fuel, non-coniferous

     Year Code       Year Unit     Value Flag Flag Description Note
302       1961 1961-01-01   m3       0.0    I    Imputed value  NaN
466       1961 1961-01-01   m3  172596.0    I    Imputed value  NaN
692       1961 1961-01-01   m3  260000.0    A  Official figure  NaN
528       1961 1961-01-01   m3  402695.0    I    Imputed value  NaN
778       1961 1961-01-01   m3  785000.0    A  Official figure  NaN

3.Find the seven rows in fao with the lowest value for a column of your choice.

In [14]:
# Find the seven rows with the lowest values in the 'value' column
lowest_values = fao.nsmallest(7, 'Value')

# Display the result
print(lowest_values)

    Domain Code                         Domain  Area Code (M49)     Area  \
150          FO  Forestry Production and Trade               20  Andorra
151          FO  Forestry Production and Trade               20  Andorra
152          FO  Forestry Production and Trade               20  Andorra
153          FO  Forestry Production and Trade               20  Andorra
154          FO  Forestry Production and Trade               20  Andorra
155          FO  Forestry Production and Trade               20  Andorra
156          FO  Forestry Production and Trade               20  Andorra

     Element Code     Element  Item Code                   Item  Year Code  \
150          5516  Production       1627  Wood fuel, coniferous       2009
151          5516  Production       1627  Wood fuel, coniferous       2010
152          5516  Production       1627  Wood fuel, coniferous       2011
153          5516  Production       1627  Wood fuel, coniferous       2012
154          5516  Production       1627  Wood fuel, coniferous       2013
155          5516  Production       1627  Wood fuel, coniferous       2014
156          5516  Production       1627  Wood fuel, coniferous       2015

          Year Unit  Value Flag Flag Description Note
150 2009-01-01   m3    0.0    E  Estimated value  NaN
151 2010-01-01   m3    0.0    E  Estimated value  NaN
152 2011-01-01   m3    0.0    E  Estimated value  NaN
153 2012-01-01   m3    0.0    E  Estimated value  NaN
154 2013-01-01   m3    0.0    E  Estimated value  NaN
155 2014-01-01   m3    0.0    E  Estimated value  NaN
156 2015-01-01   m3    0.0    E  Estimated value  NaN

4.Right now, the data is somewhere between long and wide format. Use melt() to make it completely long format.

In [16]:
# Using melt to convert to long format
fao_long = pd.melt(fao, id_vars=['Year'], var_name='variable', value_name='value')

print(fao_long)

# Sort the long format dataframe by 'year' and 'value'
#fao_long_sorted = fao_long.sort_values(by=['Year', 'value'])

# Display the sorted long format dataframe
#print(fao_long_sorted.head())

# Save the sorted long format dataframe to a new CSV file
#fao_long_sorted.to_csv('long_format_fao_dataset.csv', index=False)

            Year     variable value
0     1961-01-01  Domain Code    FO
1     1962-01-01  Domain Code    FO
2     1963-01-01  Domain Code    FO
3     1964-01-01  Domain Code    FO
4     1965-01-01  Domain Code    FO
...          ...          ...   ...
13323 2015-01-01         Note   NaN
13324 2016-01-01         Note   NaN
13325 2016-01-01         Note   NaN
13326 2016-01-01         Note   NaN
13327 2016-01-01         Note   NaN

[13328 rows x 3 columns]

5.	Based on your downloaded datasets, suppose on a given day, say December 2, 2016 there was a glitch in how the data was recorded. How would you handle such a scenario?

6.	Employ any other data wrangling technique in your solution (label each technique as a – z)