# Assignment 1 of 4

____________________________________________
**RUBRICS**
- Correct value.
- Number of statistics computed.
- Any added comment on the computed value.

## Exercise 1a: Download the dataset 
https://github.com/johnhabere/datasets/blob/main/exchange-rates_uga.csv

From the dataset accomplish the various statistics of the exchange rates using the rates (referred to as 'values' in the dataset) in the following exercises.

#### Importing the data after downloading and doing some EDA to understand it before answering the question

In [1]:
# importing the required packages
import pandas as pd

data = pd.read_csv('exchange-rates_uga.csv')
data.columns  # confirming is the column Value does exist in the dataframe

Index(['Iso3', 'StartDate', 'EndDate', 'Area Code', 'Area Code (M49)', 'Area',
       'Element Code', 'Element', 'ISO Currency Code', 'Currency', 'Year Code',
       'Year', 'Months Code', 'Months', 'Unit', 'Value', 'Flag'],
      dtype='object')

In [54]:
data.head(20)

,Iso3,StartDate,EndDate,Area Code,Area Code (M49),Area,Element Code,Element,ISO Currency Code,Currency,Year Code,Year,Months Code,Months,Unit,Value,Flag
0,#country+code,#date+start,#date+end,NaN,NaN,#country+name,NaN,NaN,NaN,NaN,NaN,#date+year,NaN,NaN,#indicator+type,#indicator+value+num,NaN
1,UGA,1987-01-01,1987-12-31,226.0,'800,Uganda,LCU,Local currency units per USD,UGX,Uganda Shilling,1987.0,1987,7021.0,Annual value,NaN,42.841266666700001,X
2,UGA,1987-01-01,1987-01-31,226.0,'800,Uganda,LCU,Local currency units per USD,UGX,Uganda Shilling,1987.0,1987,7001.0,January,NaN,42.841266666700001,X
3,UGA,1987-02-01,1987-02-28,226.0,'800,Uganda,LCU,Local currency units per USD,UGX,Uganda Shilling,1987.0,1987,7002.0,February,NaN,14.000000000000000,X
4,UGA,1987-03-01,1987-03-31,226.0,'800,Uganda,LCU,Local currency units per USD,UGX,Uganda Shilling,1987.0,1987,7003.0,March,NaN,14.000000000000000,X
5,UGA,1987-04-01,1987-04-30,226.0,'800,Uganda,LCU,Local currency units per USD,UGX,Uganda Shilling,1987.0,1987,7004.0,April,NaN,14.000000000000000,X
6,UGA,1987-05-01,1987-05-31,226.0,'800,Uganda,LCU,Local currency units per USD,UGX,Uganda Shilling,1987.0,1987,7005.0,May,NaN,38.095199999999998,X
7,UGA,1987-06-01,1987-06-30,226.0,'800,Uganda,LCU,Local currency units per USD,UGX,Uganda Shilling,1987.0,1987,7006.0,June,NaN,60.000000000000000,X
8,UGA,1987-07-01,1987-07-31,226.0,'800,Uganda,LCU,Local currency units per USD,UGX,Uganda Shilling,1987.0,1987,7007.0,July,NaN,60.000000000000000,X
9,UGA,1987-08-01,1987-08-31,226.0,'800,Uganda,LCU,Local currency units per USD,UGX,Uganda Shilling,1987.0,1987,7008.0,August,NaN,60.000000000000000,X
10,UGA,1987-09-01,1987-09-30,226.0,'800,Uganda,LCU,Local currency units per USD,UGX,Uganda Shilling,1987.0,1987,7009.0,September,NaN,60.000000000000000,X
11,UGA,1987-10-01,1987-10-31,226.0,'800,Uganda,LCU,Local currency units per USD,UGX,Uganda Shilling,1987.0,1987,7010.0,October,NaN,60.000000000000000,X
12,UGA,1987-11-01,1987-11-30,226.0,'800,Uganda,LCU,Local currency units per USD,UGX,Uganda Shilling,1987.0,1987,7011.0,November,NaN,60.000000000000000,X
13,UGA,1987-12-01,1987-12-31,226.0,'800,Uganda,LCU,Local currency units per USD,UGX,Uganda Shilling,1987.0,1987,7012.0,December,NaN,60.000000000000000,X
14,UGA,1988-01-01,1988-12-31,226.0,'800,Uganda,LCU,Local currency units per USD,UGX,Uganda Shilling,1988.0,1988,7021.0,Annual value,NaN,106.135833333300000,X
15,UGA,1988-01-01,1988-01-31,226.0,'800,Uganda,LCU,Local currency units per USD,UGX,Uganda Shilling,1988.0,1988,7001.0,January,NaN,60.000000000000000,X
16,UGA,1988-02-01,1988-02-29,226.0,'800,Uganda,LCU,Local currency units per USD,UGX,Uganda Shilling,1988.0,1988,7002.0,February,NaN,60.000000000000000,X
17,UGA,1988-03-01,1988-03-31,226.0,'800,Uganda,LCU,Local currency units per USD,UGX,Uganda Shilling,1988.0,1988,7003.0,March,NaN,60.000000000000000,X
18,UGA,1988-04-01,1988-04-30,226.0,'800,Uganda,LCU,Local currency units per USD,UGX,Uganda Shilling,1988.0,1988,7004.0,April,NaN,60.000000000000000,X
19,UGA,1988-05-01,1988-05-31,226.0,'800,Uganda,LCU,Local currency units per USD,UGX,Uganda Shilling,1988.0,1988,7005.0,May,NaN,60.000000000000000,X

## Exercise 1b: Create a list rates from the dataset

In [3]:
# Excluding the first row since it is a header
data_new = data.iloc[1:]

# Now creating a list rate from the dataset.
rates = data_new['Value'].tolist()

# Displaying the output
print(f'A list rates: \n {rates} ')

A list rates:
 ['42.841266666700001', '42.841266666700001', '14.000000000000000', '14.000000000000000', '14.000000000000000', '38.095199999999998', '60.000000000000000', '60.000000000000000', '60.000000000000000', '60.000000000000000', '60.000000000000000', '60.000000000000000', '60.000000000000000', '106.135833333300000', '60.000000000000000', '60.000000000000000', '60.000000000000000', '60.000000000000000', '60.000000000000000', '60.000000000000000', '150.000000000000000', '150.000000000000000', '150.000000000000000', '150.000000000000000', '150.000000000000000', '163.630000000000000', '223.091606308100010', '164.989275697100000', '165.000000000000000', '191.660000000000000', '200.000000000000000', '200.000000000000000', '200.000000000000000', '200.000000000000000', '200.000000000000000', '200.000000000000000', '240.000000000000000', '345.449999999999990', '370.000000000000000', '428.854666666699980', '374.286000000000000', '378.199999999999990', '379.000000000000000', '379.000000000000000', '382.863999999999980', '386.569999999999990', '440.000000000000000', '442.173999999999980', '465.000000000000000', '480.000000000000000', '508.636000000000020', '530.525999999999950', '734.009916666699950', '563.182000000000020', '585.000000000000000', '608.000000000000000', '635.332999999999970', '665.159999999999970', '688.000000000000000', '730.644999999999980', '800.000000000000000', '846.669999999999960', '856.129000000000020', '915.000000000000000', '915.000000000000000', '1133.834333333300000', '966.452000000000000', '982.240000000000010', '1031.329999999999900', '1155.550000000000000', '1164.609999999999900', '1166.170000000000100', '1177.880000000000100', '1185.290000000000000', '1185.150000000000100', '1181.069999999999900', '1196.339999999999900', '1213.930000000000100', '1195.016750000000000', '1217.119999999999900', '1217.089999999999900', '1217.520000000000000', '1218.089999999999900', '1213.275000000000100', '1199.085000000000000', '1197.528000000000000', '1196.655000000000000', '1181.988000000000100', '1170.837000000000000', '1165.010000000000000', '1146.002999999999900', '979.445416666700000', '1112.669000000000100', '1047.222000000000000', '1079.223000000000000', '1007.032000000000000', '965.707999999999970', '962.590000000000030', '967.065000000000050', '921.379000000000020', '920.792000000000030', '919.780999999999950', '920.138000000000030', '929.745999999999980', '968.916666666700050', '925.039999999999960', '925.528000000000020', '927.034999999999970', '928.827999999999970', '940.176000000000040', '964.815000000000050', '968.928000000000000', '970.027000000000040', '977.696000000000030', '1043.080999999999900', '1032.596000000000000', '1023.250000000000000', '1046.084750000000000', '1026.382000000000100', '1022.371000000000000', '1016.603000000000000', '1013.564000000000000', '1018.003000000000000', '1041.364000000000000', '1055.442000000000000', '1067.440000000000100', '1074.967000000000100', '1105.049000000000000', '1081.483999999999900', '1030.348000000000000', '1083.008666666700000', '1044.849999999999900', '1033.111000000000100', '1024.954000000000000', '1046.462000000000000', '1065.298000000000000', '1067.588000000000000', '1068.022999999999900', '1098.167999999999900', '1117.123000000000000', '1140.396000000000000', '1147.189000000000100', '1142.942000000000000', '1240.305833333299900', '1148.068000000000000', '1152.521999999999900', '1152.385000000000000', '1174.510000000000000', '1223.480000000000000', '1231.021999999999900', '1235.018000000000000', '1244.374000000000000', '1284.843000000000100', '1314.184999999999900', '1353.819999999999900', '1369.443000000000000', '1454.827166666699900', '1369.207000000000100', '1377.346000000000000', '1381.159000000000100', '1449.730000000000000', '1518.967000000000100', '1447.221000000000000', '1454.507000000000100', '1454.507000000000100', '1491.669000000000100', '1507.804000000000100', '1503.338000000000000', '1502.471000000000000', '1644.475333333299900', '1525.751000000000000', '1519.425999999999900', '1513.680000000000100', '1525.862000000000100', '1579.667999999999900', '1565.566000000000000', '1596.415000000000000', '1676.300000000000000', '1770.507000000000100', '1826.594000000000100', '1850.261999999999900', '1783.673000000000000', '1755.658750000000100', '1830.440000000000100', '1742.970000000000000', '1753.790000000000000', '1773.819999999999900', '1782.684000000000000', '1767.637999999999900', '1725.742000000000000', '1750.609999999999900', '1752.896999999999900', '1737.686999999999900', '1736.214999999999900', '1713.412000000000000', '1797.550500000000100', '1738.740000000000000', '1741.438000000000100', '1771.032999999999900', '1792.190000000000100', '1797.592000000000100', '1797.173000000000000', '1802.832000000000100', '1812.644000000000000', '1812.440000000000100', '1827.198000000000100', '1832.319000000000000', '1845.007000000000100', '1963.720083333300000', '1867.685999999999900', '1883.782999999999900', '1944.444999999999900', '1976.530999999999900', '1997.849999999999900', '1998.231000000000000', '1995.277000000000000', '1998.491000000000000', '1993.969000000000100', '1990.729000000000000', '1974.488000000000100', '1943.161000000000100', '1810.304713651499900', '1938.159000000000100', '1865.064000000000100', '1926.650682000000000', '1918.781999999999900', '1855.535000000000100', '1818.664500000000100', '1748.261999999999900', '1731.523181818200100', '1715.555000000000100', '1735.436999999999900', '1730.885000000000000', '1739.139200000000100', '1780.540260865200000', '1732.005789473699900', '1711.066499999999900', '1711.230000000000000', '1777.680000000000100', '1775.623000000000000', '1738.318749999999900', '1752.122249999999900', '1814.859772727300000', '1847.606818181800000', '1855.365250000000100', '1834.470476190500000', '1816.134523809500000', '1831.451850890900000', '1819.121249999999900', '1815.841578947400000', '1820.943289473699900', '1827.481111111100100', '1836.341904761900000', '1859.949285714300000', '1857.716428571400000', '1847.739673912999900', '1854.676666666699900', '1843.426500000000000', '1818.851363636400000', '1775.333157894700000', '1723.491587140400000', '1792.278809523800000', '1751.682749999999900', '1750.676428571400000', '1728.890789473699900', '1695.152727272700100', '1643.573333333300100', '1652.869772727300000', '1737.430434782600100', '1762.830250000000000', '1747.171666666700000', '1707.728750000000000', '1711.613333333300000', '1720.443879151100000', '1710.585681818200100', '1707.829761904800100', '1684.255526315799900', '1686.683409090900100', '1647.680714285700100', '1600.739736842100000', '1633.940217391299900', '1623.619047619000000', '1645.010749999999900', '1838.662954545400000', '1910.130000000000100', '1956.188750000000000', '2030.488074334200100', '1975.970000000000000', '1964.832750000000000', '2051.545227272699800', '2175.610250000000200', '2247.682499999999900', '2137.179500000000200', '2110.766304347800100', '2071.668809523800100', '1961.903636363600100', '1898.282619047600100', '1873.778250000000100', '1896.637045454600000', '2177.557506833580200', '1935.626052631580000', '1996.536000000000100', '2086.366363636359900', '2083.003999999999900', '2174.568333333330000', '2257.436000000000100', '2257.286363636360000', '2230.940714285709900', '2251.303095238100000', '2264.820954272549900', '2288.872857142860100', '2303.929347826090200', '2522.802032522639800', '2333.135000000000200', '2341.927222222219800', '2393.313047619049900', '2367.589210526320100', '2387.684047619050000', '2461.038500000000100', '2587.228333333329800', '2753.232727272729800', '2814.018768330790000', '2805.365974906690100', '2582.177272727270100', '2446.914285714290100', '2504.563077583280100', '2414.193095238099900', '2327.969285714290000', '2485.018095238100200', '2506.212631578950100', '2479.052946037370000', '2484.357619047620100', '2474.180227272730000', '2492.038128950459800', '2515.877000000000000', '2579.428112955490200', '2622.952727272730000', '2673.477061693549800', '2586.889568565609800', '2683.789285714290100', '2657.549303012519900', '2636.891578947369900', '2578.011692639810000', '2586.113487615460100', '2593.081505942650000', '2588.900520484960000', '2578.871508110250000', '2568.864214088369900', '2534.391843789980200', '2523.272621430860000', '2512.937261010839800', '2599.788200610670200', '2499.903890765329800', '2471.961789514480200', '2534.215691310730100', '2529.787006975169800', '2532.385852851010000', '2580.862271485870200', '2633.515356699460000', '2612.504686821249800', '2618.796150304579900', '2680.508661419669800', '2734.222249999999800', '2768.794799180519900', '3240.645420338260000', '2860.711749999999900', '2868.847499999999900', '2951.736812551550000', '2995.578000000000000', '3007.603000000000100', '3199.902750000000200', '3360.094090909090000', '3548.251190476190000', '3667.504761904760000', '3636.024523809519900', '3428.998095238090200', '3362.492569169960000', '3420.098007247359900', '3451.208947368420000', '3435.113961352660200', '3365.496891304349900', '3343.572077294690200', '3348.919254658379900', '3367.992602657000100', '3379.293388888890100', '3373.534999999999900', '3381.406190476190200', '3435.848359788360100', '3560.623434343429800', '3598.165978835979800', '3611.224458044609900', '3609.477301587300200', '3585.349546783630100', '3599.014113636360000', '3618.697222222219800', '3623.606590909089800', '3591.098571428569800', '3601.530499999999800', '3606.031739130430200', '3599.866000000000000', '3637.909523809520100', '3638.850808080810100', '3623.261578947369800', '3727.068994846119900', '3640.053042328040200', '3637.562602339180100', '3660.117861111110000', '3697.242499999999800', '3726.843030303030000', '3840.476749999999800', '3760.443439153440100', '3729.532499999999800', '3800.679416666670000', '3777.977727272730100', '3739.772285353540200', '3714.126783625729800', '3704.049071696810200', '3702.434090909090200', '3672.893999999999800', '3706.191499999999900', '3736.975750000000100', '3765.629330808079900', '3728.988302469139900', '3696.486956521740000', '3693.733863636360200', '3675.496428571430000', '3695.836363636360100', '3697.442857142859800', '3676.479416666670200', '3718.248922709240100', '3680.792727272730200', '3676.846500000000100', '3772.907499999999800', '3785.746416666670000', '3791.460000000000000', '3737.944500000000100', '3703.537045454550000', '3677.527619047620200', '3695.087272727269900', '3719.916928571430200', '3710.677380952380200', '3666.543181818180100', '3587.051707339080200', '3691.563657288999800', '3667.315789473680100', '3662.869545454550000', '3623.302000000000100', '3552.786578947369900', '3540.352105263160000', '3552.305714285710100', '3537.036818181819900', '3530.631363636360200', '3579.942380952380100', '3551.522795454549900', '3554.991739130439800', '3689.817385668619900', '3528.833500000000200', '3514.506842105260100', '3589.842272727270000', '3541.456111111110200', '3633.068095238099900', '3747.380749999999800', '3791.591904761910000', '3832.449130434779800', '3825.326363636359900', '3822.267619047620000', '3760.228181818180000', '3690.857857142860200', '3693.610476190479900', '3685.715789473680200', '3744.514999999999900', '3745.819411764709900', '3729.554545454550000', '7.143000010000000', '7.143000010000000', '7.143000010000000', '7.143000010000000', '7.143000010000000', '7.143000010000000', '7.143000010000000', '7.143000010000000', '7.143000010000000', '7.143000010000000', '7.143000010000000', '7.143000010000000', '7.143000010000000', '7.142999590000000', '7.142999590000000', '7.142999590000000', '7.142999590000000', '7.142999590000000', '7.142999590000000', '7.142999590000000', '7.142999590000000', '7.142999590000000', '7.142999590000000', '7.142999590000000', '7.142999590000000', '7.142999590000000', '7.143000000000000', '7.143000000000000', '7.143000000000000', '7.143000000000000', '7.143000000000000', '7.143000000000000', '7.143000000000000', '7.143000000000000', '7.143000000000000', '7.143000000000000', '7.143000000000000', '7.143000000000000', '7.143000000000000', '7.021450000000000', '7.021450000000000', '7.021450000000000', '7.021450000000000', '7.021450000000000', '7.021450000000000', '7.021450000000000', '7.021450000000000', '7.021450000000000', '7.021450000000000', '7.021450000000000', '7.021450000000000', '7.021450000000000', '7.135950000000000', '7.135950000000000', '7.135950000000000', '7.135950000000000', '7.135950000000000', '7.135950000000000', '7.135950000000000', '7.135950000000000', '7.135950000000000', '7.135950000000000', '7.135950000000000', '7.135950000000000', '7.135950000000000', '8.735330120000000', '8.735330120000000', '8.735330120000000', '8.735330120000000', '8.735330120000000', '8.735330120000000', '8.735330120000000', '8.735330120000000', '8.735330120000000', '8.735330120000000', '8.735330120000000', '8.735330120000000', '8.735330120000000', '9.751608960000000', '9.751608960000000', '9.751608960000000', '9.751608960000000', '9.751608960000000', '9.751608960000000', '9.751608960000000', '9.751608960000000', '9.751608960000000', '9.751608960000000', '9.751608960000000', '9.751608960000000', '9.751608960000000', '16.613378300000001', '16.613378300000001', '16.613378300000001', '16.613378300000001', '16.613378300000001', '16.613378300000001', '16.613378300000001', '16.613378300000001', '16.613378300000001', '16.613378300000001', '16.613378300000001', '16.613378300000001', '16.613378300000001', '21.391456500000000', '21.391456500000000', '21.391456500000000', '21.391456500000000', '21.391456500000000', '21.391456500000000', '21.391456500000000', '21.391456500000000', '21.391456500000000', '21.391456500000000', '21.391456500000000', '21.391456500000000', '21.391456500000000', '33.571033290000003', '33.571033290000003', '33.571033290000003', '33.571033290000003', '33.571033290000003', '33.571033290000003', '33.571033290000003', '33.571033290000003', '33.571033290000003', '33.571033290000003', '33.571033290000003', '33.571033290000003', '33.571033290000003', '59.478778570000003', '59.478778570000003', '59.478778570000003', '59.478778570000003', '59.478778570000003', '59.478778570000003', '59.478778570000003', '59.478778570000003', '59.478778570000003', '59.478778570000003', '59.478778570000003', '59.478778570000003', '59.478778570000003', '93.839237130000001', '93.839237130000001', '93.839237130000001', '93.839237130000001', '93.839237130000001', '93.839237130000001', '93.839237130000001', '93.839237130000001', '93.839237130000001', '93.839237130000001', '93.839237130000001', '93.839237130000001', '93.839237130000001', '118.304587900000000', '118.304587900000000', '118.304587900000000', '118.304587900000000', '118.304587900000000', '118.304587900000000', '118.304587900000000', '118.304587900000000', '118.304587900000000', '118.304587900000000', '118.304587900000000', '118.304587900000000', '118.304587900000000', '165.148394059999990', '165.148394059999990', '165.148394059999990', '165.148394059999990', '165.148394059999990', '165.148394059999990', '165.148394059999990', '165.148394059999990', '165.148394059999990', '165.148394059999990', '165.148394059999990', '165.148394059999990', '165.148394059999990', '266.726792839999970', '266.726792839999970', '266.726792839999970', '266.726792839999970', '266.726792839999970', '266.726792839999970', '266.726792839999970', '266.726792839999970', '266.726792839999970', '266.726792839999970', '266.726792839999970', '266.726792839999970', '266.726792839999970', '672.019999999999980', '672.019999999999980', '672.019999999999980', '672.019999999999980', '672.019999999999980', '672.019999999999980', '672.019999999999980', '672.019999999999980', '672.019999999999980', '672.019999999999980', '672.019999999999980', '672.019999999999980', '672.019999999999980', '1400.000000000000000', '1400.000000000000000', '1400.000000000000000', '1400.000000000000000', '1400.000000000000000', '1400.000000000000000', '1400.000000000000000', '1400.000000000000000', '1400.000000000000000', '1400.000000000000000', '1400.000000000000000', '1400.000000000000000', '1400.000000000000000', '0.071430000071430', '0.071429995890081', '0.071429999990000', '0.070214499990000', '0.071359499990000', '0.087353301199159', '0.097516089648563', '0.166133783023475', '0.213914564998020', '0.335710332923346', '0.594787785667155', '0.938392371303223', '1.183045878996500', '1.651483940631670', '2.667267928360590', '6.720200000005830', '14.000000000000000', '42.841266666666698', '106.135833333333000', '223.091606308090010', '428.854666666667010', '734.009916666666980', '1133.834333333330100', '1195.016750000000000', '979.445416666667030', '968.916666666666970', '1046.084750000000000', '1083.008666666670000', '1240.305833333329900', '1454.827166666670100', '1644.475333333329900', '1755.658750000000100', '1797.550500000000100', '1963.720083333330000', '1810.304713651509900', '1780.665776893939900', '1831.453404945860000', '1723.491772343000100', '1720.443883317770100', '2030.488074334180100', '2177.557506833580200', '2522.746320708070000', '2504.563077583280100', '2586.889568565609800', '2599.788521418619900', '3240.645420338260000', '3420.098007247359900', '3611.224458044609900', '3727.071722118850200', '3704.049071696810200', '3718.248922709240100', '3587.051707339080200', '3689.817386000000200']

## Calculating statistics of the exchange rates

In [4]:
# Since statistics are applied to numeric values, I will convert 'rates' to numeric values
rates_numeric = pd.to_numeric(rates, errors='coerce')

## Exercise 2: Measures of Central Tendency

### Mean

In [7]:
# Function to calculate Mean
def calculate_mean(x):
    if len(x) == 0:
        raise ValueError("List is empty, cannot calculate mean!")
    total = sum(x)
    mean = total / len(x)
    return mean

In [8]:
calculate_mean(rates_numeric)

1383.3367407705691

##### Most of the rates are grouped together around 1383.34.

### Median

In [9]:
# Function to calculate Median
def calculate_median(x):
    if len(x) == 0:
        raise ValueError("List is empty, cannot calculate median!")
    sorted_x = sorted(x)
    n = len(sorted_x)

    if n % 2 == 0:
        # For an even-sized list, average the middle two elements
        middle_left = sorted_x[n // 2 - 1]
        middle_right = sorted_x[n // 2]
        median = (middle_left + middle_right) / 2
    else:
        # For an odd-sized list, return the middle element
        median = sorted_x[n // 2]
    return median

In [10]:
calculate_median(rates_numeric)

1196.34

##### With a median value of 1196.34, half of the data points are below and half are above this figure. This acts as a central reference point, displaying the values' center position and illuminating the central tendency of the distribution.

### Mode

In [51]:
from collections import Counter


# Function to calculate Mode
def calculate_mode(x):
    if len(x) == 0:
        raise ValueError("List is empty, cannot calculate mode!")
    # Use Counter to count occurrences of each element
    counts = Counter(x)

    # Find the maximum count
    max_count = max(counts.values())

    # Get all elements with maximum count (multiple modes are possible)
    modes = [key for key, value in counts.items() if value == max_count]

    if len(modes) == 1:
        # If there's only one mode, return it
        return modes[0]
    else:
        # If there are multiple modes, return a list of modes
        return modes

In [14]:
calculate_mode(rates_numeric)

[60.0,
 7.14300001,
 7.14299959,
 7.143,
 7.02145,
 7.13595,
 8.73533012,
 9.75160896,
 16.6133783,
 21.3914565,
 33.57103329,
 59.47877857,
 93.83923713,
 118.3045879,
 165.14839406,
 266.72679284,
 672.02,
 1400.0]

In [16]:

import statistics

# Use statistics.mode to find the mode
mode_result = statistics.mode(rates_numeric)
mode_result

60.0

## Exercise 2: Measures of Dispersion or Variability

Remember to use Bessel's correction.

### Range

In [17]:
# Function to calculate Range
def calculate_range(x):
    if len(x) == 0:
        raise ValueError("List is empty, cannot calculate range!")
    min_value = min(x)
    max_value = max(x)
    data_range = max_value - min_value
    return data_range

In [18]:
calculate_range(rates_numeric)

3840.40653550001

##### The range of extremes within the rates is demonstrated by the least value of 0.0702 and the largest value of 3840.41, highlighting the diversity of the observed rates. Therefore, the range rate of 3840.41 highlights the wide range of the dataset even more.

### Variance

In [20]:
def calculate_variance(i):
    if len(i) < 2:
        raise ValueError("Variance requires at least two data points.")
    mean = sum(i) / len(i)
    squared_diff = [(x - mean) ** 2 for x in i]
    variance = sum(squared_diff) / (
            len(data) - 1)  # Use (n-1) for sample variance, use n for population variance
    return variance

In [21]:
calculate_variance(rates_numeric)

1564355.1767827822

##### With a variance of 1564355.18, the results are significantly spread out  from the mean. This metric illustrates how far each value deviates from the central tendency. It is the average squared deviation of each data point from the mean. Practically speaking, a lower variance denotes a distribution that is more grouped around the mean, whereas a higher variance points to more diversity or variability within the dataset.

### Standard Deviation

In [55]:
# Function to calculate standard deviation
def calculate_standard_deviation(y):
    if len(y) == 0:
        raise ValueError("List is empty, cannot calculate standard deviation!")
    mean_y = calculate_mean(y)
    squared_diff_y = [(i - mean_y) ** 2 for i in y]
    variance = sum(squared_diff_y) / len(y)
    std_dev_y = variance ** 0.5
    return std_dev_y

In [56]:
calculate_standard_deviation(rates_numeric)

1250.7418505762018

##### the substantial variability and dispersion of 1250.74 indicates a broad range of values deviating from the mean.

### Interquartile Range (IQR)

In [57]:
def calculate_iqr(i):
    if len(i) < 4:
        raise ValueError("IQR requires at least four data points.")
    sorted_data = sorted(i)

    # Calculate Q1 and Q3
    q1_index = (len(sorted_data) - 1) // 4
    q3_index = 3 * (len(sorted_data) - 1) // 4

    q1 = (sorted_data[q1_index] + sorted_data[q1_index + 1]) / 2
    q3 = (sorted_data[q3_index] + sorted_data[q3_index + 1]) / 2

    # Calculate IQR
    iqr = q3 - q1
    return iqr

In [58]:
calculate_iqr(rates_numeric)

2004.7270968620803

##### The Interquartile Range (IQR), with a value of 2004.7, indicates that the middle 50% of the dataset has a spread or range of roughly 2004.73 units. This suggests that the middle 50% of the data encompass a wide range of values, with the central section of the data being moderately spread.

## Exercise 3: Calculating more statistics

- Coefficient of Variation
- quartile coefficent of dispersion
- covariance
- Pearson correlation coefficient ($\rho$)
- Percentiles (10th, 25th, 50th, 75th etc)
- Skewness
- **ADD ANY OTHER STATISTICS (THE MORE COMPUTATIONS, THE MORE POINTS)**

#### Coefficient of Variation:

In [59]:
def calculate_coefficient_of_variation(i):
    if len(i) == 0:
        raise ValueError("List is empty, cannot calculate CV!")
    mean_value = sum(i) / len(i)
    std_dev = (sum((x - mean_value) ** 2 for x in i) / len(i)) ** 0.5
    coefficient_of_variation = (std_dev / mean_value) * 100
    return coefficient_of_variation

In [60]:
calculate_coefficient_of_variation(rates_numeric)

90.41485082507769

##### A significant degree of variability in relation to the mean is indicated by a coefficient of variation value of 90.41

#### Quartile Coefficient of Dispersion

In [61]:
def calculate_quartile_coefficient_of_dispersion(i):
    if len(i) < 4:
        raise ValueError("QCD requires at least four data points.")
    sorted_data = sorted(i)
    q1_index = (len(sorted_data) - 1) // 4
    q3_index = 3 * (len(sorted_data) - 1) // 4
    q1 = (sorted_data[q1_index] + sorted_data[q1_index + 1]) / 2
    q3 = (sorted_data[q3_index] + sorted_data[q3_index + 1]) / 2
    qcd = (q3 - q1) / (q3 + q1)
    return qcd

In [62]:
calculate_quartile_coefficient_of_dispersion(rates_numeric)

0.9143960968116198

##### The gap between the first and third quartiles is less than the entire range of the data (IQR < Range), as indicated by the QCD value of 0.914

#### Covariance:

#### This should be between 2 vars thus will extract year codes to perform this statistic: i.e., fiinding a convariance between rates and area code

In [76]:
dates_coded = data_new['StartDate']

df = pd.DataFrame(dates_coded)

# Convert 'date' to categorical variable
df['date_categorical'], _ = pd.factorize(df['StartDate'])

# Now creating a list rate from the dataset.
coded_dates = df['date_categorical'].tolist()

# Displaying the output
print(f'A list dates: \n {coded_dates} ')

A list dates:
 [0, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 437, 449, 461, 473, 485, 497, 509, 521, 533, 545, 557, 569, 581, 593, 605, 617, 629, 0, 12, 24, 36, 48, 60, 72, 84, 96, 108, 120, 132, 144, 156, 168, 180, 192, 204, 216, 228, 240, 252, 264, 276, 288, 300, 312, 324, 336, 348, 360, 372, 384, 396, 408, 420]

In [77]:
# Since statistics are applied to numeric values, I will convert 'rates' to numeric values
coded_dates_numeric = pd.to_numeric(coded_dates, errors='coerce')

In [30]:
def calculate_covariance(k, l):
    if len(k) != len(l) or len(k) < 2:
        raise ValueError(
            "Input data should have the same length and at least two data points.")
    mean_k = sum(k) / len(k)
    mean_l = sum(l) / len(l)
    covariance = sum((k[i] - mean_k) * (l[i] - mean_l) for i in
                     range(len(k))) / (len(k) - 1)
    return covariance

In [78]:
calculate_covariance(rates_numeric, coded_dates_numeric)

-29452.270262036764

##### With a covariance value of about -29452.27, the two variables are negatively correlated.

#### Pearson Correlation Coefficient:

In [52]:
def calculate_pearson_correlation(k, l):
    if len(k) != len(l) or len(k) < 2:
        raise ValueError(
            "Input data should have the same length and at least two data points.")

    covariance = calculate_covariance(k, l)
    std_dev_k = (sum((x - sum(k) / len(k)) ** 2 for x in k) / len
    (k)) ** 0.5
    std_dev_l = (sum((x - sum(l) / len(l)) ** 2 for x in l) / len
    (l)) ** 0.5
    pearson_correlation = covariance / (std_dev_k * std_dev_l)
    return pearson_correlation

In [79]:
calculate_pearson_correlation(rates_numeric, coded_dates_numeric)

-0.12720783272405672

##### There appears to be a slight negative linear relationship between dates  and rates, as indicated by the Pearson correlation coefficient of roughly -0.13.

#### Percentiles:

In [80]:
def calculate_percentile(i, percentile):
    if len(i) < 1 or percentile < 0 or percentile > 100:
        raise ValueError("Invalid input data or percentile value.")

    sorted_i = sorted(i)
    index = (percentile / 100) * (len(sorted_i) - 1)

    if index.is_integer():
        return sorted_i[int(index)]
    else:
        lower_index = int(index // 1)
        upper_index = lower_index + 1
        lower_value = sorted_i[lower_index]
        upper_value = sorted_i[upper_index]
        return lower_value + (index - lower_index) * (upper_value - lower_value)

In [81]:
tenth_percentile = calculate_percentile(rates_numeric, 10)
second_percentile = calculate_percentile(rates_numeric, 25)
third_percentile = calculate_percentile(rates_numeric, 50)
fourth_percentile = calculate_percentile(rates_numeric, 75)

print(f' 10th Percentile: {tenth_percentile}\n 25th Percentile: '
      f'{second_percentile}\n 50th Percentile: '
      f'{third_percentile}\n 75th Percentile: {fourth_percentile}\n')

 10th Percentile: 7.14300001
 25th Percentile: 93.83923713
 50th Percentile: 1196.34
 75th Percentile: 2098.56633399208

#### I have observed that the 50th Percentile is equivalent to the median

#### Skewness

In [49]:
def calculate_skewness(i):
    if len(i) < 3:
        raise ValueError("Skewness requires at least three data points.")

    mean_value = sum(i) / len(i)
    std_dev = (sum((x - mean_value) ** 2 for x in i) / len(i)) ** 0.5
    skewness = sum(((x - mean_value) / std_dev) ** 3 for x in i) * \
               (len(i) / ((len(i) - 1) * (len(i) - 2)))
    return skewness

In [50]:
calculate_skewness(rates_numeric)

0.541059764569046

##### The data distribution has a somewhat positive skewness, as indicated by the skewness value of 0.541